/* my_breadcrumb */

.home .my_breadcrumb{
    display: none;
}

#left-area .my_breadcrumb .breadcrumb{
    padding: 0px;
    font-size: 11px;
    text-transform: capitalize;
    background: transparent;
    margin-bottom: 15px;
}

#left-area .my_breadcrumb .breadcrumb .active{
    color: #C3112B;
}

#left-area .my_breadcrumb .breadcrumb a{
    color: #000;
}

.my_breadcrumb .breadcrumb i{
    font-size: 9px;
    margin: 0px 4px;
}

/* css silder header */

.body-active{
    overflow: hidden;
}

.container{
    max-width: 1340px;
    width: 100%;
    padding: 0px 20px !important;
}

.et_pb_column .et_pb_widget{
    width: 100% !important;
}


.et_header_style_left .logo_container{
    width: auto;
}

#page-container{
    padding-top: 0px !important;
    margin-top: 0px !important;
}

#page-container #main-header{
    top: 0px !important;
    position: relative;
}

#main-header .active-header{
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 99;
    width: 100%;
}

#main-header  .header-menu-clearfix{
    background: #c3112b;
}

#main-header .silder-header .et_pb_row{
    max-width: 100%;
    width: 100%;
    padding: 0px !important;
}

#main-header .silder-header{
    padding-top: 10px;
}

.silder-header .et_pb_gutters3 .et_pb_column{
    padding-left: 0px;
}

#main-header .silder-header .logo-site{
    position: absolute;
    top: 0px;
    left: 45px;
    z-index: 99;
}

#main-header .silder-header .et_pb_section{
    padding: 0px;
}

#main-header .silder-header .et-pb-slider-arrows{
    display: none;
}

#main-header .silder-header .et_pb_slide{
    padding: 0px;
}

#main-header .silder-header .et_pb_container{
    max-width: 100%;
    min-height: 500px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

#main-header .silder-header .et_pb_slider_container_inner{
    padding: 0px;
    vertical-align: bottom;
    display: flex;
    flex-wrap: wrap;
    height: 80px;
    background: #fff;
    opacity: 0.8;
}

#main-header .silder-header .et_pb_slide_description{
    padding: 0px 56px 0px 0px;
    max-width: 100%;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

#main-header .silder-header .et_pb_slide_description p{
    margin-bottom: 0px;
    text-shadow: none;
}

#main-header .silder-header .et-pb-controllers{
    top: 40px;
    left: unset;
    right: 50px;
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

#main-header .silder-header .et-pb-controllers a{
    width: 16px;
    height: 16px;
    background: #C3112B;
    border-radius: 0px;
    margin-right: 6px;
}

#main-header .silder-header .et-pb-controllers a:last-child{
    margin-right: 0px;
}

#main-header .silder-header .et-pb-controllers .et-pb-active-control{
    background: #484848;
}

#et-top-navigation .quick-link-mobile{
    display: none;
    width: auto;
    text-align: center;
    font-weight: 500;
    font-size: 11px;
    color: #fff;
    text-transform: uppercase;
    padding-top: 12px;
}

#et-top-navigation .quick-link-mobile span{
    display: block;
}


/* css menu */

#main-header .et_menu_container{
    padding: 0px 50px;
    position: relative;
}

#main-header .et_menu_container #et-top-navigation{
    width: auto;
    float: left;
    padding: 0px !important;
}

#main-header .et_menu_container #top-menu{
    display: flex;
    flex-wrap: wrap;
}

#main-header .et_menu_container #top-menu>li{
    padding: 0px;
    width: 127px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 40px;
    position: relative;
    cursor: pointer;
}

#main-header .et_menu_container #top-menu .active-menu{
    display: block !important;
    visibility: visible;
    opacity: 1;
}

#main-header .et_menu_container #top-menu>li:first-child{
    background: #E2E2E2;
}

#main-header .et_menu_container #top-menu>li:first-child a{
    font-weight: 700;
    color: #484848 !important;
}

#main-header .et_menu_container #top-menu>li:first-child a:hover{
    color: #484848;
}

#main-header .et_menu_container #top-menu li>a{
    padding: 0px;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    color: #fff !important;
    font-size: 13px;
}

#main-header .et_menu_container #top-menu li>a:hover{
    background: none;
    color: #fff;
    opacity: 1;
}

#main-header .et_menu_container #top-menu .sub-menu{
    top: 100%;
    width: 100%;
    border-top: 0px;
    box-shadow: unset;
    padding: 10px 0px;
    background-color: #e2e2e2;
    display: none;
}

#top-menu .menu-item-has-children>a:first-child:after{
    display: none;
}

#main-header #top-menu .sub-menu>li{
    display: block;
}

#main-header #top-menu .sub-menu li{
    line-height: 26px;
    padding: 0px 0px 0px 25px;
}

#main-header #top-menu .sub-menu li a{
    justify-content: end;
    color: #484848!important;
}

#main-header #top-menu .sub-menu li a:hover{
    color: unset;
}

.et_primary_nav_dropdown_animation_fade #et-top-navigation ul li:hover>ul{
    display: none;
}


/* content homepage */

.et_pb_row{
    width: 100%;
}

.page.et_pb_pagebuilder_layout #main-content{
    overflow: hidden;
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.et_pb_section{
    padding-bottom: 0px !important;
}

.et_pb_gutters3 .et_pb_column_3_4, .et_pb_gutters3.et_pb_row .et_pb_column_3_4{
    width: 68.5%;
    padding-right: 30px;
    padding-top: 60px;
    border-right: 1px solid #484848;
    padding-bottom: 60px;
}

.et_pb_gutters3 .et_pb_column, .et_pb_gutters3.et_pb_row .et_pb_column{
    margin-right: 0px;
}

.et_pb_gutters3 .et_pb_column_1_4, .et_pb_gutters3.et_pb_row .et_pb_column_1_4{
    width: 31.5%;
    padding-left: 30px;
    padding-top: 60px;
}

.et_pb_column_1_4 .et_pb_widget_area_left{
    padding-right: 0px;
}

.block-eigenschaften-home{
    padding-bottom: 45px;
}

.block-eigenschaften-home .title-eigenschaften-home{
    font-size: 28px;
    line-height: 33px;
    text-align: center;
    font-weight: 400;
    color: #000;
    max-width: 630px;
    margin: auto;
    padding: 0px;
}

.block-eigenschaften-home .content-block-eigenschaften{
    display: flex;
    flex-wrap: wrap;
    margin-top: 52px;
}

.block-eigenschaften-home .content-block-eigenschaften .sub-content{
    width: 33.33%;
    text-align: center;
    padding: 0px 20px;
}

.block-eigenschaften-home .content-block-eigenschaften .sub-content p{
    font-size: 13px;
    color: #000;
    letter-spacing: -0.01em;
    font-weight: 400;
}

.block-eigenschaften-home .content-block-eigenschaften .sub-content span{
    color: #C3112B;
}

.block-eigenschaften-home .content-block-eigenschaften .sub-content-img{
    margin-bottom: 30px;
    min-height: 72px;
}

/* block-map-brand */

.block-map-brand{

}

.block-map-brand .title-map-brand{
    font-size: 28px;
    line-height: 33px;
    color: #000;
    font-weight: 400;
    text-align: center;
    margin: 0px 0px 45px;
    padding: 0px;
    border-top: 1px solid #484848;
    padding-top: 25px;
}

.block-map-brand .content-img-top{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 60px;
}

.block-map-brand .content-img-top img{
    padding-right: 60px;
}

.block-map-brand .content-img-top img:last-child{
    padding-right: 0px;
}

.block-map-brand  .content-map{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 55px;
}

.block-map-brand  .content-map .content-maps{
    width: 60%;
    position: relative;
}

.block-map-brand  .content-map .content-maps iframe{
    position: absolute;
    width: 100%;
    height: 100%;
}

.block-map-brand  .content-map .content-map-description{
    width: 40%;
    background: #C3112B;
    display: flex;
    flex-wrap: wrap;
    padding: 50px 15px;
}

.block-map-brand  .content-map .content-map-description-img{
    width: 30%;
    text-align: center;
}

.block-map-brand  .content-map .content-map-description-infor{
    width: 70%;
    padding-top: 5px;
}

.block-map-brand  .content-map .content-map-description-infor h4{
    margin: 0px;
    font-size: 13px;
    letter-spacing: -0.01em;
    color: #fff;
    font-weight: 600;
    padding-bottom: 0px;
}

.block-map-brand  .content-map .content-map-description-infor p{
    padding-bottom: 0px;
    margin-bottom: 0px;
    font-size: 13px;
    letter-spacing: -0.01em;
    color: #fff;
    font-weight: 400;
}

.block-map-brand  .content-map .content-map-description-infor .infor-map{
    margin-bottom: 20px;
}

.block-map-brand .content-img-bottom{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 10px;
}

.block-map-brand .content-img-bottom .sub-img{
    padding-right: 35px;
}

.block-map-brand .content-img-bottom img:last-child{
    padding-right: 0px;
}

/* blog-homepage */

#main-content .et_pb_section{
    padding-top: 0px;
}

#blog-homepage article, #blog-homepage{
    margin-bottom: 0px;
}

#blog-homepage article .entry-featured-image-url{
    width: 36.5%;
    float: left;
    margin-bottom: 0px;
}

#blog-homepage article .entry-title{
    width: 63.5%;
    float: left;
    padding-left: 60px;
    margin-top: 55px;
    padding-bottom: 0px;
    margin-bottom: 35px;
}

#blog-homepage article .entry-title a{
    font-size: 37px;
    line-height: 43px;
    color: #000;
    font-weight: 300;
}

#blog-homepage article .entry-title span{
    color: #C3112B;
}

#blog-homepage article .post-content{
    width: 62%;
    float: left;
    padding-left: 60px;
}

#blog-homepage article .post-content p{
    font-weight: 300;
    font-size: 15px;
    color: #000;
    margin-bottom: 50px;
}

#blog-homepage article .post-content .more-link{
    background: #C3112B;
    width: 185px;
    height: 38px;
    text-align: center;
    line-height: 38px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 13px;
    border-radius: 5px;
    text-decoration: none;
}

#blog-homepage article .post-content svg{
    height: 11px;
    fill: #fff;
    padding-left: 25px;
}

/* short-code-title-blog */

#short-code-title-blog{
    background: #C3112B;
    margin-bottom: 35px;
}

#short-code-title-blog .et_pb_code_inner{
    display: flex;
    flex-wrap: wrap;
    height: 60px;
    align-items: center;
    justify-content: space-between;
    padding: 0px 35px;
}

#short-code-title-blog .item-slider-post:nth-child(1){
    display: none;
}

#short-code-title-blog .item-slider-post a{
    font-size: 12px;
    font-weight: 400;
    color: #fff;
    text-decoration: underline;
}

/* quicklinks-post */

.quicklinks-post .heading-quicklinks{
    font-size: 28px;
    line-height: 33px;
    color: #484848;
    font-weight: 400;
    margin: 0px;
    padding: 0px;
    margin-bottom: 33px;
}

.quicklinks-post .item-slider-post .sub-post-slider-homepage .link-header{
    line-height: 38px;
    background: #C3112B;
    font-weight: 500;
    font-size: 18px;
    color: #fff;
    padding-left: 15px;
}

.quicklinks-post .item-slider-post .sub-post-slider-homepage .link-header a{
    text-decoration: none;
    color: #fff;
}

.quicklinks-post .item-slider-post{
    margin-bottom: 25px;
}

.quicklinks-post .item-slider-post .content-post{
    display: flex;
    flex-wrap: wrap;
    background: #E2E2E2;
}

.quicklinks-post .item-slider-post .img-content-post{
    width: 36%;
}

.quicklinks-post .item-slider-post .description-post{
    width: 64%;
    padding: 15px 23px;
}

.quicklinks-post .item-slider-post .description-post .et_pb_section{
    padding: 0px !important;
    background: transparent;
}

.quicklinks-post .item-slider-post .description-post .et_pb_row{
    padding: 0px !important;
}

.quicklinks-post .item-slider-post .description-post span{
    font-weight: 500;
}

.quicklinks-post .item-slider-post .description-post a{
    color: #C3112B;
    font-weight: 500;
}

.quicklinks-post .item-slider-post .description-post p{
    font-size: 14px;
    font-weight: 400;
    color: #484848;
    padding: 0px;
    margin-bottom: 5px;
}

.quicklinks-post .img-content-post-active .img-content-post{
    width: 100%;
    text-align: center;
}

.quicklinks-post .img-content-post-active .content-post{
    padding: 20px;
}

.quicklinks-post .img-content-post-active .description-post{
    padding: 0px;
}

.home .block-team-post{
    display: block;
}

.block-team-post{
    display: none;
}

.block-team-post .link-header{
    font-size: 28px;
    line-height: 33px;
    color: #484848;
    font-weight: 400;
    margin: 0px;
    padding: 0px;
    margin-bottom: 30px;
}

.block-team-post  .description-post p{
    font-size: 14px;
    font-weight: 300;
    color: #484848;
}

.block-team-post .img-content-post{
    margin-bottom: 25px;
}

.block-team-post .description-post{
    height: 40px;
    overflow: hidden;
    margin-bottom: 25px;
}

.block-team-post .link-team-post{
    font-size: 14px;
    color: #C3112B !important;
    font-weight: 400;
    text-decoration: none;
}

#sidebar-block .widget_text:nth-child(1){
    margin-bottom: 0px;
}

#sidebar-block .block-team-post{
    border-bottom: 1px solid #484848;
    padding-bottom: 40px;
    margin-bottom: 40px;
}

#main-content #left-area{
    width: 68.5% !important;
    padding-right: 30px;
    padding-top: 60px;
    border-right: 1px solid #484848;
    padding-bottom: 60px;
}

#main-content  #sidebar{
    width: 31.5% !important;
    padding-left: 30px;
    padding-top: 60px;
}

#et-top-navigation .mobile_menu_bar:before{
    color: #fff;
    top: -8px;
    left: 30px;
}

#et-top-navigation .mobile_menu_bar{
    padding-bottom: 0px;
    padding-top: 20px;
    padding-right: 5px;
    color: #fff;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 500;
}

#et-top-navigation .et_mobile_menu{
    border-top: 0px;
    box-shadow: unset;
    height: calc(100vh - 50px);
    overflow-y: scroll;
}

.country-selector.weglot-default{
    position: relative;
    float: right;
    bottom: 0px;
    right: 0px;
    background: transparent;
}

.country-selector.weglot-dropdown .wgcurrent{
    border: 0px;
    color: #fff;
}

.country-selector.weglot-dropdown .wgcurrent span{
    padding-right: 0px;
    height: 40px;
    line-height: 40px;
}

.country-selector.weglot-dropdown .wgcurrent svg{
    margin-left: 5px;
}

.country-selector.weglot-dropdown .wgcurrent:after{
    display: none;
}

.country-selector.weglot-dropdown.weglot-invert ul{
    bottom: 0px;
    top: 100%;
    background: #fff;
    border: 0px;
    height: 100%;
    box-shadow: 0 0 7px rgba(0,0,0,.1)!important;
}

#top-menu-nav .logo-mobile-menu{
    list-style: none;
    text-align: right;
    line-height: 50px;
    border-bottom: 1px solid #878787;
    padding-right: 25px;
    display: none;
}

#stellenangebot-page .et_pb_toggle{
    margin-bottom: 0px;
}

#left-area .philosophie-ul {
    padding: 0px !important;
}


@media(max-width: 992px){

    #main-header .et_menu_container .open{
        display: block !important;
    }

    #main-header .et_menu_container #top-menu-nav{
        display: none;
        position: absolute;
        background: #fff;
        top: 100%;
        width: 100%;
        left: 0px;
        height: calc(100vh - 70px);
        overflow-y: scroll;
        padding-bottom: 100px;
    }

    #main-header .et_menu_container #et-top-navigation{
        width: 100%;
        height: 70px;
    }

    #et_mobile_nav_menu{
        display: block;
    }

    .logo_container{
        display: none;
    }

    #main-header .silder-header .et_pb_slide_description p{
        font-size: 28px;
    }

    #main-header .silder-header .logo-site{
        max-width: 150px;
    }

    #main-header .silder-header .et_pb_container{
        max-height: 400px;
        min-height: 400px;
    }

    #main-header .silder-header .et_pb_slider_container_inner{
        height: 70px;
    }

    .silder-header .et_pb_slider_0.et_pb_slider .et_pb_slide_content{
        font-size: 30px !important;
    }

    #blog-homepage{
        padding-bottom: 20px;
    }

    #blog-homepage article .entry-title a {
        font-size: 26px;
        line-height: 30px;
    }

    #blog-homepage article .post-content{
        padding-left: 30px;
    }

    .block-map-brand .content-img-top {
        margin-bottom: 20px;
    }

    #blog-homepage article .entry-title {
        margin-top: 25px;
        margin-bottom: 20px;
        padding-left: 30px;
    }

    #blog-homepage article .post-content p {
        margin-bottom: 25px;
    }

    #short-code-title-blog .et_pb_code_inner {
        height: 100%;
        padding: 20px;
    }

    #short-code-title-blog .et_pb_code_inner .item-slider-post{
        width: 100%;
        text-align: center;
        margin-bottom: 15px;
    }

    #short-code-title-blog .et_pb_code_inner .item-slider-post:last-child{
        margin-bottom: 0px;
    }

    .block-map-brand .content-img-bottom .sub-img{
        width: 33.33%;
        text-align: center;
        padding: 0px;
        margin-bottom: 20px;
    }

    #main-content #left-area{
        padding-bottom: 30px;
    }

    .quicklinks-post .item-slider-post .img-content-post{
        width: 100%;
        text-align: center;
    }

    .quicklinks-post .item-slider-post .description-post{
        width: 100%;
        padding: 20px;
    }

    .block-eigenschaften-home .title-eigenschaften-home {
        font-size: 26px;
    }

    .block-map-brand .title-map-brand {
        font-size: 26px;
    }

    .block-map-brand .content-img-bottom img:last-child {
        padding-right: 0px;
    }

    .et_pb_gutters3 {
        padding-bottom: 0;
    }

    #main-header .et_menu_container #top-menu>li{
        width: 100%;
        height: 100%;
        border-bottom: 1px solid #878787;
    }

    #main-header .et_menu_container #top-menu .sub-menu{
        position: static;
        background: #c3112b;
        padding: 0px;
    }

    #main-header .et_menu_container #top-menu li>a{
        color: #fff !important;
    }

    #main-header #top-menu .sub-menu li{
        border-bottom: 1px solid #fff;
        padding-left: 0px;
        line-height: 100%;
    }

    #main-header .et_menu_container #top-menu li .sub-menu li a{
        color: #fff !important;
    }

    #main-header #top-menu .sub-menu li:last-child{
        border-bottom: 0px;
    }

    #main-header .et_menu_container #top-menu{
        width: 100%;
    }

    #main-header .et_menu_container #top-menu li>a{
        color: #C4C4C4 !important;
        font-weight: 500;
        font-size: 20px;
        justify-content: end;
        padding: 22.5px 22px;

    }

    #main-header .header-menu-clearfix .menu-item-has-children.sub-item-active::after{
        transform: rotate(90deg);
    }

    #main-header .et_menu_container #top-menu>li:first-child{
        background: transparent;
    }

    #main-header .et_menu_container #top-menu>li:first-child a{
        color: #C4C4C4 !important;
    }

    #main-header .header-menu-clearfix .menu-item-has-children::after{
        content:"\f054";
        position: absolute;
        font-size: 14px;
        font-family: FontAwesome;
        color: #484848;
        top: 23px;
        right: 25px;
    }

    .country-selector.weglot-default{
        display: none;
    }

    #main-content #left-area{
        padding-right: 20px;
        padding-top: 30px;
    }

    #main-content #sidebar{
        padding-left: 20px;
        padding-top: 30px;
    }
}

@media(max-width: 767px){

    #page-container #main-header{
        position: sticky !important;
    }

    #main-content .left-area-active{
        display: none;
    }

    .header-menu-clearfix .logo_container{
        display: flex;
        height: auto;
        top: 0px;
        z-index: 9;
    }

    .header-menu-clearfix .logo_container #logo{
        max-width: 125px;
        width: 100%;
    }

    #main-content #left-area{
        width: 100% !important;
        padding-right: 0px;
        border-right: 0px;
        padding-top: 20px;
    }

    #main-content .sidebar-active{
        display: block !important;
    }

    #main-content #sidebar{
        display: none;
        width: 100% !important;
        padding-left: 0px;
    }

    #main-header .et_menu_container #et-top-navigation{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
    }

    #et-top-navigation .quick-link-mobile{
        display: block;
    }

    #main-header .silder-header{
        padding-top: 0px;
    }

    #main-header .silder-header .link-logo-site{
        display: none;
    }

    #et-top-navigation .et_mobile_menu{
        background-color: #fff !important;
        padding: 25px 0px;
        top: 70px;
        height: calc(100vh - 70px);
    }

    #main-header .header-menu-clearfix .et_mobile_menu li ul{
        padding-left: 0px;
        display: none !important;
    }

    #et-top-navigation #mobile_menu>li{
        position: relative;
    }

    #main-header .header-menu-clearfix .et_mobile_menu li a{
        padding: 18px 20px;
        color: #C4C4C4;
        font-size: 20px;
        background: transparent;
        font-weight: 500;
        border-bottom: 1px solid #878787;
    }

    #main-header .header-menu-clearfix .et_mobile_menu li:first-child{
        border-top: 1px solid #878787;
    }

    #top-menu-nav .logo-mobile-menu{
        display: block;
    }

    #main-header .et_menu_container #top-menu>li:first-child{
        display: none;
    }

    /* 	homepage  */

    #blog-homepage article{
        display: flex;
        flex-wrap: wrap;
    }

    #blog-homepage article .entry-title{
        order: 1;
        width: 100%;
        padding: 0px;
        text-align: center;
    }

    #blog-homepage article .post-content{
        order: 2;
        width: 100%;
        padding: 0px;
        text-align: center;
        max-width: 300px;
        margin: auto;
    }

    #blog-homepage article .post-content p{
        font-size: 13px;
    }

    #blog-homepage article .entry-featured-image-url{
        order: 3;
        width: 100%;
        text-align: center;
    }

    #blog-homepage article .entry-featured-image-url img{
        height: auto;
        width: 310px;
    }

    #blog-homepage article .post-content .more-link{
        margin: auto;
    }

    #short-code-title-blog .et_pb_code_inner{
        height: auto;
        text-align: center;
        max-width: 300px;
        margin: auto;
        padding: 35px 0px;
    }

    #short-code-title-blog .et_pb_code_inner .item-slider-post:last-child{
        margin-bottom: 0px;
    }

    #short-code-title-blog .et_pb_code_inner .item-slider-post{
        margin-bottom: 15px;
    }

    #short-code-title-blog .item-slider-post a{
        font-size: 15px;
    }

    .home .et_pb_row{
        padding: 0px !important;
    }

    .home .et_pb_column{
        padding: 0px !important;
    }

    .block-eigenschaften-home .title-eigenschaften-home{
        max-width: 300px;
    }

    .block-eigenschaften-home .content-block-eigenschaften{
        max-width: 320px;
        margin: auto;
        margin-top: 0px;
    }

    .block-eigenschaften-home .content-block-eigenschaften .sub-content{
        width: 100%;
        margin-top: 40px;
    }

    .block-map-brand .content-map .content-maps{
        width: 100%;
        order: 2;
        padding-bottom: 90%;
    }

    .block-map-brand .content-map .content-map-description{
        width: 100%;
        order: 1;
    }

    .block-map-brand .content-map .content-map-description-infor p{
        font-size: 14px;
    }

    .block-map-brand .content-map .content-map-description-infor h4{
        font-size: 14px;
    }

    .block-map-brand .content-map .content-map-description-infor p:last-child{
        margin-top: 20px;
    }

    .block-map-brand .content-map .content-map-description-img{
        position: relative;
    }

    .block-map-brand .content-map .content-map-description-img img{
        position: absolute;
        top: -5px;
        right: -10px;
    }

    .block-map-brand .content-map .content-map-description-infor{
        margin-top: 30px;
    }

    .block-map-brand .content-img-bottom .sub-img{
        padding: 0px;
        width: 33.33%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .block-map-brand .content-img-bottom .sub-img img{
        padding-right: 0px;
    }

    .block-map-brand .content-img-top img{
        padding: 0px;
        margin-bottom: 20px;
    }

    .block-map-brand .content-img-top{
        max-width: 310px;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 30px;
    }

    .block-map-brand .title-map-brand{
        margin: 0px 20px 45px;
        padding-top: 40px;
    }

    #main-footer #footer-bottom{
        background: #484848;
    }

    .quicklinks-post .item-slider-post .description-post{
        width: 64%;
        padding: 15px 23px;
    }

    .quicklinks-post .item-slider-post .img-content-post{
        width: 36%;
    }

    .quicklinks-post .img-content-post-active .img-content-post{
        width: 100%;
    }
}

